<div class="carrusel">
    <img src="/img/banner1.jpg" alt="banner" id="banner1">
    <img src="/img/banner2.jpg" alt="banner" id="banner2">
    <img src="/img/banner3.jpg" alt="banner" id="banner3">
    <img src="/img/banner4.jpg" alt="banner" id="banner4">

</div>