<footer class="footer">
    <div class="footerContainer">
        <ul class="institucional">
            <span><strong>Institucional</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <li><a href="about" class="link">Quienes somos</a></li>
            <li><a href="#" class="link">Productos</a></li>
            <li><a href="#" class="link">Legales</a></li>
        </ul>
    </div>

    <div class="footerContainer">
        <ul class="cliente">
            <span><strong>Cliente</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <li><a href="miCuenta" class="link">Mi cuenta</a></li>
            <li><a href="/faq" class="link">Preguntas frecuentes</a></li>
            <li><a href="#" class="link">Atención al cliente</a></li>
        </ul>
    </div>

    <div class="footerContainer">
        <ul class="contacto">
            <span><strong>Contacto</strong></span>
          <li><i class="fa-brands fa-whatsapp"></i>12345678</li>    <!-- <i class="fa-solid fa-angle-up " id="flecha-arriba"></i> -->
            <li><i class="fa-solid fa-envelope"></i>info@digicommerce.com.ar</li>             
        </ul>
    </div>

    <div class="newsletter footerContainer">
        <ul class="newsletter">
            <span><strong>Newsletter</strong></span>
            <i class="fa-solid fa-angle-up " id="flecha-arriba"></i>
            <p><input type="email" class="email" placeholder="Ingrese su dirección de email..."></p>
            <input type="submit" class="enviar">
                
        </ul>
    </div>

    <div class="follow footerContainer">
        <ul class="seguinos">
            <span><strong>Seguinos</strong></span>
            <div class="contenedor-redes">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fab fa-twitter"></i>
            </div>

        </ul>
    </div>


    
</footer>