    <%- include('./partials/head') %>
    <title>Nosotros</title>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/about.css">
    
</head>
<body>
    <div class="grilla-contenedora">
        <%-include('./partials/header')%>
        <main>
        <div class="fondo">
            <div class="contenedor-imagenes">
                <img src="/img/about-1.jpg" alt="about" id="imagen-1">
                <img src="/img/about-2.jpg" alt="about" id="imagen-2">
                <img src="/img/about-3.jpg" alt="about" id="imagen-3">
                <img src="/img/about-4.jpg" alt="about" id="imagen-4">
                <img src="/img/about-5.jpg" alt="about" id="imagen-5">
            </div>

            <section class="seccion-texto">
                <div class="encabezado">
                    <h1 class="quienesSomos">Quiénes somos</h1>
            
                 </div>
            


            <p class="parrafo">
                        El té y el mate nos constituyen de muchas maneras. Ambas son viejas tradiciones: una de ellas milenaria y foránea, y la otra que se hunde en las raices de nuestra historia colectiva. Pero más allá de la historia de cada una de ellas, lo importante es cómo ambos hacen a la nuestra: a nuestros momentos de soledad, y a nuestros momentos compartidos. Nuestro objetivo, entonces, <em>es formar parte de tu historia</em>, acompañándote con productos de primera calidad para que cada uno de ellos sea único.<br>
                    <br>Somos un eCommerce especializado en la venta de infusiones orgánicas de primer nivel, específicamente yerba mate y té en diversas variedades, como así también accesorios. Los productos ofrecidos por la empresa están orientados a los amantes del mate y té que gusten descubrir nuevas variedades y sabores únicos, elegidos y seleccionados por nuestros expertos.<br>
                    <br>La venta de los productos se realiza por e-Commerce en el que el usuario utilizando su cuenta agregará los productos al carrito de compras y serán recibidos en la dirección solicitada.
                
            </p>
        
            
            <a href="/">
                <button class="boton-cpu">Volver</button>
                <button class="boton-movile"><i class="fa-solid fa-house"></i></button>
            </a>
        </div>
        </main>
    
        <%-include('./partials/footer')%>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>