    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>Preguntas Frecuentes</title>
</head>
<body>
    <div class="grilla-contenedora">
        <%-include('./partials/header')%>
        <main>
                <div class="fondo">
                    <div class="logo">
                        <img></img>
                    </div>
        
                    <div class="encabezado">
                    <h1 class="faq">Preguntas frecuentes<hr></h1>
                    </div>
                           
        
                    <strong>
                    <h2 class="pregunta">¿Qué características tiene mi producto?</h2>
                    <p class="respuesta">Todos nuestros productos son envasados en origen y cumplen con los más altos estandares de calidad.</p>
        
                    <h2 class="pregunta">¿Qué métodos de pago puedo utilizar?</h2>
                    <p class="respuesta">Se aceptan todas las tarjetas de Débito/Crédito, transferencia bancaria, mercadopago.</p>
                    
                    <h2 class="pregunta">¿Qué modos de envío hay?</h2>
                    <p class="respuesta">Mensajeria privada puerta a puerta</p>

                    <h2 class="pregunta">¿Cuánto tarda en llegar mi pedido?</h2>
                    <p class="respuesta">Una vez acreditado su pedido llegará en 48hs dentro de CABA, 72hs GBA. Consultar otras provincias.</p>
                    

                    <h2 class="pregunta">¿Cómo realizo un cambio o devolución?</h2>
                    <p class="respuesta">Para cambios o devoluciones comuniquese con atención al cliente.</p>
        
                    </strong>
                    
                    <a href="/"><button>Volver</button></a>
                </div>
        </main>

        <%-include('./partials/footer')%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>