<%- include('./partials/head') %>   
<link rel="stylesheet" href="/css/header_footer.css"> 
<link rel="stylesheet" href="/css/notFound.css"> 

<title>Producto no encontrado</title>
</head>

<body>
<%-include('./partials/header')%>
<main>
    <div id="notFound">
        <i id='ban' class= "fa-solid fa-magnifying-glass"></i>
        <h1>No se encuentran productos que coincidan con tu búsqueda.</h1> 
    </div>

</main>


<%-include('./partials/footer')%>
</body>

</html>