.carrusel {
    /*border: 2px solid red;*/
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
}

.carrusel img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: aparecer;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    opacity: 0;
}

#banner1 {
    animation-delay: 0s;
}

#banner2 {
    animation-delay: 10s;
}

#banner3 {
    animation-delay: 20s;
}

#banner4 {
    animation-delay: 30s;
}


/* ANIMACIONES */

@keyframes aparecer {
    0% {
        opacity: 0;
        z-index: 100;
    }

    5% {
        opacity: 1;
    }

    32% {
        opacity: 1;
        z-index: 50;
    }

    40% {
        opacity: 0;
    }

}
@media (max-width:1024px) {
    .carrusel{
        height: 220px;
    }
}
@media (max-width:728px) {
    .carrusel{
        height: 155px;
    }
}