/* PAGINA CARRO DE COMPRAS (TERMINA EN LINEA DE ----------) */
/* main{
    font-family: 'Roboto Condensed', sans-serif;;
} */
/* MAIN */
.main {
    display: flex;
    background: #eee;
    min-height: 78.5vh;
}

.contenedor-carro-compras {
    padding-bottom: 5vh;
    width: 70%;
    padding-right: 2%;
}

.contenedor-resumen-compra {
    width: 30%;
    background: #ddd;
    padding: 0 10px;
    min-width: 240px;
    margin-right: 2%;

}

.contenedor-resumen-fixed {
    margin-top: 15px;
    /* border: 1px solid red; */
    position: sticky;
    top: 40px;
    height: 30%;
    display: flex;
    flex-direction: column;
    min-height: 65vh;
}

.contenedor-resumen-fixed .confirmacion-compra {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    margin: 15px 1px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(9, 9, 9, .2);
}

.contenedor-datos-finales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-total-pedido {
    display: flex;
    width: 100%;
    padding-top: 10px;
    border-top: 0.5px solid rgba(9, 9, 9, .2);
}

#total-pedido {
    width: 50%;
    color: #933;
    font-weight: 600;
    font-size: 21px;
}

#total-pedido a {
    color: #fff;
}

#precio-total {
    width: 50%;
}

.contenedor-datos-finales p {
    width: 35%;
    min-width: 107px;
    margin: 10px 3px;
}

.contenedor-datos-finales .precio {
    text-align: end;
    min-width: 0;
    width: 35%;
    padding-bottom: 10px;
}

.contenedor-datos-finales .precio-envio {
    border-bottom: 0.5px solid rgba(9, 9, 9, .2);
}

.contenedor-botones-pago {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contenedor-botones-pago .continuar-compra,
.contenedor-botones-pago .boton-pago {
    border: 1px solid;
    border-radius: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}

.continuar-compra {
    background: #b44;
}

.boton-pago {
    background: #4b4;
}

.boton-pago:hover,
.continuar-compra:hover {
    box-shadow: 2px 2px 5px 0 #444;
}

.producto {
    display: flex;
    border-bottom: 1px solid rgba(8, 8, 8, 0.2);
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 10px 5px;
    margin-right: 2%;

}

.producto:hover {
    background-color: rgba(4, 4, 4, .1);
}

.contenedor-titulo {
    margin: 40px 0;
    border-bottom: 1px solid rgba(8, 8, 8, 0.2);
    padding-left: 25px;
}

.contenedor-titulo h3 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;

}

.contenedor-articles {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;


}

.contenedor-imagen-producto {
    /* max-width: 400px; */
    /* margin-left: 10px; */
    display: flex;
    width: 15%;
    max-width: 170px;

    justify-content: center;
}

.foto-producto {
    text-align: center;
    object-fit: contain;
    width: 180%;
    max-width: 100px;
    transition: all .1s;
    height: 100px;

}

.informacion-producto {
    display: flex;
    width: 80%;
    justify-content: center;
    align-content: space-between;
    margin: 0;
    padding-left: 20px;

}

.contenedor-descripcion-producto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    align-items: center;
    margin: 0;
    width: 60%;
}

.descripcion-producto {
    font-weight: 200;
    opacity: .6;
    text-align: center;
    max-width: 300px;
    width: 100%;
    overflow-y: scroll;
    max-height: 130px;
    padding-right: 10px;
}

.contenedor-precio-producto {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 20%;
}

.contenedor-precio-producto p {
    color: #666;
}

.contenedor-input {
    width: 14%;
    margin: auto;
    text-align: center;
}

.cantidad-producto {
    display: inline-block;
    margin: auto;
    padding: 10px 0px 10px 5px;
    width: 100%;
    border-radius: 15px;
    max-width: 50px;
}

.contenedor-subtotal {
    display: flex;
    align-items: center;
    width: 21%;
    justify-content: center;
    margin: 0;


}

.contenedor-basura {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 5%;

}

.contenedor-basura i {
    font-size: 25px;
    color: #f00;
    cursor: pointer;
    transition: all 1s;

}

.contenedor-botones-movile {

    width: 100vw;
    display: flex;
    justify-content: center;
    display: none;
}

.contenedor-botones-movile a {
    color: #000;
}

.boton-metodos-movile {
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #4b4;
    font-weight: 500;
    color: #222;
}



/* MEDIAS QUERIES */
@media (max-width:768px) {

    /* SACAR HOVERS */
    .producto:hover {
        box-shadow: none;
    }

    .producto:hover>.contenedor-imagen-producto>.foto-producto {
        max-width: 100px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;

    }

    .producto:hover>.informacion-producto {
        align-content: space-between;
        width: 80%;
    }

    .producto:hover>.informacion-producto>.contenedor-descripcion-producto {
        max-width: 175px;
        padding-left: 0;
    }

    .producto:hover>.contenedor-imagen-producto {
        width: 10%;
    }

    .producto:hover>.informacion-producto>.contenedor-precio-producto>.precio-parcial-producto {
        margin-bottom: 0px;
    }

    .producto:hover>.informacion-producto>.contenedor-input {
        display: block;
        margin: auto;
    }

    .producto:hover>.contenedor-subtotal {
        width: 21%;
        justify-content: center;
    }

    .producto:hover>.informacion-producto>.contenedor-precio-producto {
        height: 100%;
        align-items: center;
    }

    /* MEDIA-MAIN  */
    .producto {
        justify-content: space-evenly;
        width: 100vw;
    }

    .producto>div {
        flex-grow: 1;
    }

    .contenedor-titulo {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100vw;
    }

    .contenedor-titulo .titulo-carro {
        font-size: 20px;
    }

    .contenedor-articles {
        width: 100vw;
    }

    .contenedor-imagen-producto {
        width: 15%;
        max-width: 80px;
    }

    .contenedor-imagen-producto .foto-producto {
        width: 100%;
    }

    .informacion-producto {
        margin: 0;
        flex-grow: 1;
        width: 34%;
        padding-right: 0;
        padding-left: 5px;
    }

    .informacion-producto .contenedor-descripcion-producto {
        margin: 0;
        grid-column: 1/2;
        width: 100%;
        padding: 25px 0;
        margin-right: 0;
        max-width: 175px;
    }

    .informacion-producto .contenedor-descripcion-producto p {
        font-size: 10px;
    }

    .contenedor-precio-producto {
        height: 100%;
    }

    .contenedor-precio-producto p {
        color: #000;
    }

    .contenedor-input {
        margin: auto 0;
    }

    .contenedor-basura {
        font-size: 18px;
        margin: 0;
        width: 10%;
        max-width: 30px;
    }

    .contenedor-basura {
        font-size: 18px;
    }

    .contenedor-resumen-compra {
        display: none;
    }

    .contenedor-botones-movile {
        display: flex;
    }



    /* /MEDIA MAIN (resolucion tablet) */
}

@media (max-width:480px) {

    /* MEDIA MAIN (resolucion cel) */

    .informacion-producto {
        width: 75%;
        margin: 0;
        flex-grow: 1;
        padding: 0 5px;
    }

    .contenedor-precio-producto {

        height: 30%;
        margin: auto;
    }

    .precio-parcial-producto {
        font-size: 12px;
    }

    .contenedor-input {
        width: 30%;
    }

    .contenedor-input input {
        max-width: 50px;
        padding: 5px 0 5px 10px;
        border-radius: 5px;
    }

    .contenedor-subtotal {
        display: none;
    }


}

/* /MEDIAS QUERIES */

/* -------------------------------------------------------------------------------------------------------------- */


/* ANIMACIONES */
.contenedor-basura i:hover {
    animation-name: rotacion;
    animation-duration: 1s;
}

@keyframes rotacion {
    from {}

    to {
        transform: rotate(360deg);
    }
}