
.product-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.active img{
    max-height: 400px;
    object-fit: contain;
}
.other-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.related-products .products{
    width: 90%;
}
.other-product img{
    max-height: 200px;
    object-fit: contain;
}
.image-container, .description-container {
    flex-direction: column;
    width: 45%
}
.image-container .image, .image-container .image img {
    width: 100%;
}

.image-container .other-images article img {
    width: 100%;
}
.image-container .other-images {
    padding: 4%;
}
.image-container .other-images article {
    width: 20%;
    padding: 3%;
    border: 1px solid darkgrey;
    
}
.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 5%;
}

h2 {
    margin: 5% auto;
}

h3 {
    margin: 2% auto;
}

h4 {
    margin: 10% auto;
    font-size: 2rem;
    margin-top: 30px;
}    

div.description-container .main-section a {
    font-style: italic;
}
div.description-container .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; 
}
.buttons .form1 {
    width: 50%;
}
.buttons .form1 .type-quantity {
   margin-top: 10%;
}
.buttons .form1 .options {
    width: 100%;
    margin: 5% auto;
}
.buttons .form2 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
 .buttons .form2 button {
    margin-top: 10%;
    padding: 2%;
    width: 100%;
 }
 .buttons .form2 button.add{
    background-color: white;
    border: grey solid 0.5px;
 }
a.add{
    background-color: #084298;
    color: #ccc;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;
}
a.buy{
    background-color: #b41e00;
    color: #ccc;
    text-align: center;
    padding: 3px 5px;
    border-radius: 6px;
}

 .buttons .form2 button.buy {
    color: white;
    background-color: darkgrey;
    border: none;
 }

 

.related-products {
    margin: 15% auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: grey solid 0.2px;
}
.related-products .other-product img{
    width: 100%;
}
.related-products .other-product {
    width: 15%;
    text-align: center;
}
.related-products .other-product p.product-name {
    font-size: 0.8rem;
}
.related-products .other-product p.price {
    font-weight: bold;
}

body > main > div.related-products > div {
    display: flex;
    margin: 1% auto;
    justify-content: space-around;
}
/* LOGICA PARA TACHAR PRECIO */
.price span{
    text-decoration: line-through;
    text-decoration-color:#C28E40 ;
    text-decoration-thickness: 2px;  
}

.with-discount{
    text-decoration: line-through;
    text-decoration-color:#b41e00 ;
    text-decoration-thickness: 2px; 
    
}
.main-section span{
    text-decoration: none;
    color: #b41e00;
    margin-left: 5px;
    
}

